body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    background-image: url('./images/La-Pergola-photo6016eee5a4044-1440x810-1.jpg');
    position: relative;
    width: 100%;
    background-size: cover;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #333;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out
}

header h1:hover {
    background: rgba(255, 87, 34, 0.8);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
}


nav button {
    margin: 0 15px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav button:hover {
    background-color: rgba(255, 87, 34, 0.8);
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

nav button:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.home-btn, .menu-btn, .about-btn {
    font-size: 16px;
}

.menu-container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}



.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.menu-item {
    animation: pulse 1.5s infinite ease-in-out;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.menu-text {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.menu-item:hover .menu-text {
    background: rgba(255, 87, 34, 0.8);
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.coffee {
    background-image: url('./images/coffe_cappucino.jpg');
}

.pizza-margherita {
    background-image: url('./images/Pizza_Margherita.jpg');
}

.pizza-parma {
    background-image: url('./images/Pizza_Parma.jpg');
}

.pizza-spinaci {
    background-image: url('./images/pizza_spinaciericotta.jpg');
}

.fade-out {
    opacity: 0;
    transform: translateY(10px);
    filter: blur(5px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}


/* Header Animation */
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    animation: fadeInScale 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

/* Button Animation */

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav button {
    animation: fadeSlideIn 0.5 ease-in-out forwards
}


/* Pulse Animation for Menu Items */

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.menu-item {
    animation: pulse 1.5s infinite ease-in-out;
}

/* Typing Effect */

.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    font-size: 2.5rem;
    animation: typing 2s steps(20, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}